<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    	<file>${user.home}/hidroplan.log</file>
    	<append>true</append>
    	<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    	<encoder>
      		<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    	</encoder>
  	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %class{40}.%M:%L - %msg%n</pattern>
			</layout>
		</encoder>

	</appender>

	<logger name="org.springframework" level="info" additivity="false" />
	<logger name="com.jolbox.bonecp" level="info" additivity="false" />

	<root level="${log-root-level}">
		<appender-ref ref="FILE" />
	</root>

</configuration>
